*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient( to bottom,  #16697A, #489FB5, #82C0CC );
    padding: 10px;
}
.img{
    margin: 50px;
    width: 50%;
    border: 5px solid black
}
.rodape{
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2px;
}
a{
    text-decoration: none;
}